:root {
  --colors;
}

* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  height: 680px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: orange;
  height: 30px;
  padding: 20px;
  display: flex;
  flex-shrink: 0;
}

.content {
  height: 640px;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.footer {
  background-color: green;
  padding: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.panel {
  border: 3px double darkblue;
  height: 600px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex: 1 1 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  border-radius: 12px;
  width: 100%;
  height: 40px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
}

.label {
  font-size: large;
  font-weight: bold;
}

.control {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.control#canvas {
  border: 2px dashed darkkhaki;
}

.control#color {
  border: 2px dashed darkolivegreen;
  flex-grow: 2;
}

.control#tools {
  border: 2px dashed darkslategray;
  flex-grow: 2;
}

.sublabel {
  width: 40%;
  font-size: medium;
}

#cpicker {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.picker {
  border: 1px solid white;
  flex-grow: 2;
}

#select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.selector {
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: 0 7px #999;
  cursor: pointer;
  width: 40%;
  flex-grow: 2;
  
}

.selector:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#gslider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#gsize {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: darkgreen;
  outline: none;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#gsize:hover {
  opacity: 1;
}

#gsize::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}

#gsize::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: purple;
  cursor: pointer;
}

#gsizetext {
  font-size: medium;
  text-align: start;
}

/* credits goes to: volfegan, https://github.com/volfegan/Rainbow-Slider-colour-picker*/
#cslider::-moz-range-track {
  appearance: none;
  background: linear-gradient(to right, var(--colors));
  border: 1px solid white;
}

#cslider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, var(--colors));
  border: 1px solid white;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#cslider:hover {
  opacity: 1;
}

#cslider::-webkit-slider-thumb {
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

#cslider::-moz-range-thumb {
  width: 2px;
  height: 35px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

#cval {
  width: 100%;
  height: 20px;
  border: 1px solid white;
}

.frame {
  background-color: darkred;
  border: 3px double red;
  height: 600px;
  width: 750px;
  border-radius: 25px;
  padding: 20px;
  flex: 1 1 1;
}

.canvas {
  background-color: white;
  border: 3px double red;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-cell {
  background-color: inherit;
  border: 1px solid grey
}